<div class="score" fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="25" class="marker">
        <div>Ships</div>
        <div>{{ships}}</div>
    </div>
    <div fxFlex="25" class="marker">
        <div>SCORE</div>
        <div>{{score}}</div>
    </div>
    <div fxFlex="25" class="marker">
        <div>Turns</div>
        <div>{{!unlimitedTurns ? turns : 'Unlimited'}}</div>
    </div>
    <div fxFlex="25" class="marker">
        <div>REMAINING</div>
        <div>{{!unlimitedTurns ? remaining : 'Unlimited'}}</div>
    </div>
</div>