@import "~src/styles/styles.scss";

.game {
    background-color: $almost-black;
    padding: 2rem;
    .game-over {
        align-self: center;
        color: $white;
        display: flex;
        font-size: 2.5rem;
        line-height: 3rem;
        margin: 0;
        opacity: 0.3;
    }
}
