@import "~src/styles/styles.scss";

.game {
    background-color: $almost-black;
    padding: 2rem;
    .game-over {
        align-self: center;
        color: $white;
        display: flex;
        font-size: 3rem;
        margin: 0;
        opacity: 0.3;
    }
    .play-again {
        text-align: end;
    }
    .play-button {
        margin: 0.5rem;
    }
}
