@import "base/_base";

body {
    margin:  0;
}

.notification-hit {
    background-color: $lavander-pink;
}

.notification-miss {
    background-color: $rusty-red;
}

.notification-destroyed {
    background-color: $pine;
}