@import "variables";

@mixin basic {
    background-color: $lavander-pink-hover;
    margin: 0 auto;
    width: 100%;
}

@mixin background {
    @include basic;
    min-width: 300px;
    max-width: 300px;
}

@mixin background-input{
    @include basic;
    min-width: 260px;
    max-width: 260px;
}

@mixin background-config {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $beige;
    height: 100vh;
    text-align: center;
    width: 100%;
}