/*
  Colors
*/
$almost-black: #252527;
$blue: rgba(116, 242, 247, 0.27);
$beige: #f5f2e8;
$lavander-pink: #df8cba;
$lavander-pink-hover: rgba(33, 2, 28, 0.26);
$light-plum: #ae5887;
$pine: #284030;
$pine-rgba: 0.25 rgba(40, 64, 48, 0.25);
$rusty-red: #c5311c;
$tomato: #ea5a46;
$white: #f6f6f6;
$pure-white: #fff;
$grey: rgba(40, 64, 48, 0.34);
$grey-one: rgba(40, 64, 48, 0.25);
$border: rgba(40, 64, 48, 0.08);
$card-border: rgba(40, 64, 48, 0.16);
$icon: #666;
$light-gray: lightgray;
$register: hsla(0, 0%, 100%, 0.8);
$light-beige: #eeece7;
$light-pending: #f4f3ef;
$light-lavander: rgba(223, 140, 186, 0.18);
$light-black: rgba(53, 53, 53, 0.13);

/*break-points*/

$break-point-sm: 768px;
$break-point-md: 1024px;
$break-point-lg: 1280px;
$break-point-xl: 1440px;
